@import "tailwindcss";
/* Make React app take full viewport */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Remove default white/black background */
body {
  margin: 0;
  background: transparent;
}